/* CSS declarations go here */

body {
	width: 100%;
}

#wrapper {
	margin: auto;
	width: 900px;
}

#searchform {
	margin-top: 300px;
	text-align: center;
}

#pending {
	margin-top: 150px;
	text-align: center;
}